body {
    background-image: url("don.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
.custom-link {
    color: red; 
    text-decoration: none; 
}

.custom-link:hover {
    color: blue; 
}
