body {
    background-image: url("ajy.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
.custom-link {
    color: red; /* Изменяем цвет текста ссылки на красный */
    text-decoration: none; /* Убираем подчеркивание ссылки */
}

.custom-link:hover {
    color: blue; /* Изменяем цвет ссылки при наведении на синий */
}
