body {
    background-image: url("don.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #DC143C;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2980b9;
}

.button:active {
  transform: translateY(2px);
}
.gradient {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom left	, #20B2AA, #B22222);

th {
  background-color: #f2f2f2;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

