body {
    background-image: url("don.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
a:hover img {
	box-shadow: 6px 6px 6px rgba(0,0,0,.3);
}
a:hover #img1, a:focus #img1  {
	transform: scale(1.5) rotate(-3deg);
}
img {
	transition: transform .3s ease-in-out
}
a: hover #img1, a:focus #img1 {
	transform: scale (3);
}
			
